In [13]:
#Answer1
#String
a = "Anees"
#list
l = [1,2,3,"Anees",23.45,True]
#float
f = 23.45
#tuple
t = (5,6,7)

In [5]:
#Answer2
#the variables with thier data types
var1= " :this variable is string data type
var2='[DS,ML,Python]' :this variables is string data type
var3= ['DS,ML,Python] :this variables is list data type
var4= 1 : this variable is an integer

In [8]:
#Answer3
#'/' operator : this operator is used for devision,and it is called devision operator.
a=12
b=3
answer=a/b
print(answer)

4.0

In [9]:
#'%' operator : this operator is known as modulo operator.
a=7
b=2
answer=a%b
print(answer)

1

In [10]:
#'//' operator : this operator is known as floor devision and integer devision operator.
a=7
b=2
answer=a//b
print(answer)

3

In [12]:
#'**' operator : this operator is known as exponential operator.
a=2
b=3
answer=a**b
print(answer)

8

In [2]:
#Answer4
#example of list of length 10 with different types of data and using a loop print each element along with its data types.
l=[2,"Anees",42.56,[3,4,5,6],True,{'name' : 'anees','age' : '27'},False,(10,20,30),'king']
for i in l:
    print(f"i: {i},Data Type : {type(i)}")

i: 2,Data Type : <class 'int'>
i: Anees,Data Type : <class 'str'>
i: 42.56,Data Type : <class 'float'>
i: [3, 4, 5, 6],Data Type : <class 'list'>
i: True,Data Type : <class 'bool'>
i: {'name': 'anees', 'age': '27'},Data Type : <class 'dict'>
i: False,Data Type : <class 'bool'>
i: (10, 20, 30),Data Type : <class 'tuple'>
i: king,Data Type : <class 'str'>

In [5]:
#Answer5
a=50
b=2
count=0

while a%b==0:
    a=a/b
count+=1
print(f"a is divisible by b {count} times.")

a is divisible by b 1 times.

In [28]:
#Answer6
l=[12,14,25,27,32,33,49,45,51,18,6,96,77,19,57,69,23,21,93,82,101,479,99,251,300]
for i in l:
    if i % 3==0 :
        print("i is divisible by 3")
    else :
        print("i is not devisible by 3")

i is divisible by 3
i is not devisible by 3
i is not devisible by 3
i is divisible by 3
i is not devisible by 3
i is divisible by 3
i is not devisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is not devisible by 3
i is not devisible by 3
i is divisible by 3
i is divisible by 3
i is not devisible by 3
i is divisible by 3
i is divisible by 3
i is not devisible by 3
i is not devisible by 3
i is not devisible by 3
i is divisible by 3
i is not devisible by 3
i is divisible by 3

In [9]:
#Answer7
#Mutable data types are those whose values can be modified at perticular indexes after they are created.
#examples of mutable data types is list,dictionaries,sets.
l=[2,3,4,'Anees',23.44,True]

In [10]:
l[1]=300

In [11]:
l

[2, 300, 4, 'Anees', 23.44, True]

In [12]:
#Immutable data types are those whose values can not e modified aftrer they created.Any operation on an immutable object results in the creation of new object.
#examples of immutable of data types include integers,floats,bolians,strings and tuples.
s="Anees"

In [14]:
s[0]

'A'

In [16]:
s[0]="T"

TypeError: 'str' object does not support item assignment