In [ ]:
#Answer1
'''
you can add comments to your code to provide explanations or notes that are ignored by the interpreter.
Comments are useful for documenting your code and making it more readable for yourself and others.
There are two primary types of comments in Python: single-line comments and multi-line comments.

Single-line comments:
You can create a single-line comment by using the hash symbol (#) at the beginning of the line.
Anything after the hash symbol on that line will be treated as a comment and will not be executed.
For example:
#this is single line comments
x=5

Multi-line comments:
Multi-line comments are used when you want to comment out multiple lines of code.
Python does not have a specific syntax for multi-line comments like some other programming languages.
However, we achieve multi-line comments using triple quotes (either single or double quotes)
we also use multi-line comments to disable a block of code temporarily.
Instead of removing the code, we enclose it within triple quotes, effectively commenting it out.
For example:
"""
x=9
y=7
print(y-x)
"""
'''

In [15]:
#Answer2
'''
In Python, variables are used to store and manipulate data.
A variable is essentially a name that refers to a value stored in the computer's memory.
You can think of variables as containers that hold different types of data, such as numbers, strings, lists, or more complex objects.
To declare a variable in Python, you simply choose a name for the variable and use the assignment operator (=) to assign a value to it.
for example :
'''
Var_A=5

In [16]:
#if we call VarA any time
Var_A

5

In [17]:
#this is just a example of int type variable there is lot of type variables like string,list or more we assign a value like this.

There is some importants rules in variables in python.
Variable names should follow certain rules:

They must start with a letter or an underscore.
They can contain letters, numbers, and underscores.
They are case-sensitive (e.g., myVariable and myvariable are different)
You can assign a new value to an existing variable, and its type can change.
for example :
A = 9 
A is an integer
A = Anees 
A is a string
Python allows multiple assignments in a single line.
For example:
x,y,z = 5,6,7
Variables can be used in expressions and can be reassigned with new values as needed.
For example :
x = 9
y = x - 3
y well be assigned the value 8.
These are the basics of declaring and assigning values to variables in Python.

#Answer3
In Python, you can convert one data type to another using type conversion functions or constructors.
Here are some commonly used methods for type conversion:

int(): This function converts a value to an integer.
It can be used to convert numeric values or strings containing numeric characters to integers.
For example:

In [54]:
x=int(8.9)
y=int("63")

In [27]:
x

8

In [55]:
y

63

In [30]:
#float(): This function converts a value to a floating-point number.
#It can be used to convert numeric values or strings containing numeric characters to floats. For example:
x=float(5)
y=float("7.21")

In [31]:
x

5.0

In [32]:
y

7.21

In [33]:
#str(): This function converts a value to a string.
#It can be used to convert numbers, booleans, or other types to strings. For example:
x=str(34)
y=str(True)

In [34]:
x

'34'

In [35]:
y

'True'

In [36]:
#list(): This function converts a sequence (like a string, tuple, or range) to a list. For example:
x = list("Anees")
y = list((0,564,"Anees"))

In [37]:
x

['A', 'n', 'e', 'e', 's']

In [38]:
y

[0, 564, 'Anees']

In [39]:
#tuple(): This function converts a sequence (like a list or string) to a tuple. For example:
x=tuple([5,5.45,True])
y=tuple("Anees")

In [40]:
x

(5, 5.45, True)

In [41]:
y

('A', 'n', 'e', 'e', 's')

In [42]:
#bool(): This function converts a value to a boolean.
#It can be used to convert numeric values or strings to booleans. Generally,
#any non-zero or non-empty value is considered True, while 0, 0.0, None, and empty values are considered False. For example:
x=bool(49)
y=bool(0)

In [43]:
x

True

In [44]:
y

False

#Answer4
To write and execute a Python script from the command line, you can follow these steps:

1.Open a text editor and create a new file. Save it with a .py extension, which is the standard file extension for Python scripts. For example, we can create a file named script.py.

2.In the text editor, write Python code in the file. For example, let's write a simple script that prints "Good Day, Anees!" to the console:

print("Good Day, Anees!")
3.Save the file after writing code.

4.Open a command prompt or terminal window.

5.Navigate to the directory where we saved the Python script. we can use the cd command to change directories. For example, if our script is saved on the desktop, we can navigate to the desktop directory like this:

cd Desktop
6.Once we are in the correct directory, we can execute the Python script by entering the following command:

python script.py
Here, script.py is the name of our Python script file. Make sure we replace it with the actual name of your file if it's different.

7.Press the Enter key, and our Python script will be executed. In this case, the output "Good Day, Anees!" will be printed to the console.

That's it! we have successfully written and executed a Python script from the command line. we can modify the script file in our text editor, save it, and rerun the script using the same command whenever we want to execute it again.

In [56]:
#Answer5
#To slice a list in Python and obtain a sub-list, you can use the slice notation.
my_list=[1,2,3,4,5]
#obtaining a sub_list=[2,3]

In [59]:
sub_list= my_list[1:3]
print(sub_list)

[2, 3]

#Answer6
In mathematics, a complex number is a number of the form x + iy, where x and y are real numbers, and i is the imaginary unit defined as the square root of -1. The real part a represents the real number component, and the imaginary part b represents the imaginary number component.

In Python, complex numbers are supported as a built-in data type. They are represented by using the j or J suffix to denote the imaginary part. The general syntax to create a complex number in Python is as follows:

In [61]:
z=3+7j

In [63]:
z.real

3.0

In [64]:
z.imag

7.0

In [65]:
#In Python, you can perform various operations on complex numbers, such as addition, subtraction, multiplication, division, and more.
z1=2+3j
z2=9+5j

In [71]:
#addition
result_add=z1+z2
print(result_add)

(11+8j)

In [72]:
#Substraction
result_sub=z1-z2
print(result_sub)

(-7-2j)

In [73]:
#Multiplicaton
result_mul=z1*z2
print(result_mul)

(3+37j)

In [74]:
#Divison
result_div=z1/z2
print(result_div)

(0.3113207547169811+0.16037735849056603j)

In [75]:
#Answer7
#To declare a variable named age and assign the value 25 to it in Python.
age=25
#In the code above, age is the variable name, and 25 is the value assigned to it.
#Python follows a simple syntax for variable assignment, where the variable name is placed on the left side of the assignment operator (=),
#and the value to be assigned is placed on the right side.
#After executing the above code, the variable age will hold the value 25, and you can use it throughout your code as needed:

In [76]:
print(age)

25

In [83]:
#Answer8
#To declare a variable named price and assign the value 9.99 to it in Python, you would use the following code:
price=9.99
#In the code above, price is the variable name, and 9.99 is the value assigned to it.
#You can verify the data type of the price variable using the type() function:

In [84]:
print(type(price))

<class 'float'>

In [85]:
#The type() function returns the type of the variable,and in this case, it will display <class 'float'>,
#confirming that the price variable is of type float.

In [86]:
#Answer9
#To create a variable named name and assign my full name to it as a string.
name = "Mohd Anees Ahmad"
#to print the value of variable name we use the print() function.

In [87]:
print(name)

Mohd Anees Ahmad

In [88]:
#Answer10
#To extract the substring "World" from the string "Hello, World!", you can use string slicing in Python.
string="Hello, World!"

In [89]:
substring=string[7:12]
print(substring)

World

In [134]:
#Answer11
#To create a variable named 'is_student' and assign it a boolean value indicating whether you are currently a student or not.
is_student=True
#In this example, I have assigned the value True to the is_student variable, assuming that you are currently a student.
#If you are not a student, you can assign the value False instead:
is_student=False

In [133]:
#By assigning a boolean value (True or False) to the variable is_student, you are indicating the truth value of whether you are a student or not.

#You can use the print() function to display the value of the is_student variable:
print(is_student)

In [ ]:
#When you run the code, it will output either True or False depending on the value assigned to the is_student variable.
#This will indicate whether you are currently a student or not.